body {
  background-color: rgb(240,230,203);
}
#mainpage {
  font-family: "Lucida Console", monospace;
  text-align: center;
}
#devpage {
  font-family: "Lucida Console", monospace;
}
#stablepage {
  font-family: "Lucida Console", monospace;
}
#idcomp {
  font-family: "Lucida Console", monospace;
}
textarea {
  background-color: PapayaWhip;
  width: 450px;
  height: 300px;
} 
#banner {
  background-image: url(images/menu_logoless.png);

} 
@font-face {
  font-family: clangen;
  src: url('images/clangen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.customfont {
  font-family: clangen;
  font-size: 100px;
  color: white;
}