body {
  background-color: bisque;
}
#mainpage {
  font-family: "Lucida Console", monospace;
}
#devpage {
  font-family: "Lucida Console", monospace;
}
#stablepage {
  font-family: "Lucida Console", monospace;
}
#idcomp {
  font-family: "Lucida Console", monospace;
}
input[type=submit] {
  background-color: tan;
}
textarea {
  background-color: PapayaWhip;
  width: 450px;
  height: 300px;
} 