body {
  background-color: rgb(240,230,203);
}
#mainpage {
  font-family: "Lucida Console", monospace;
  text-align: center;
}
#devpage {
  font-family: "Lucida Console", monospace;
}
#stablepage {
  font-family: "Lucida Console", monospace;
}
#idcomp {
  font-family: "Lucida Console", monospace;
}
textarea {
  background-color: PapayaWhip;
  width: 450px;
  height: 300px;
} 
#banner {
  background-image: url(images/menu_logoless.png);

} 
@font-face {
  font-family: clangen;
  src: url('images/clangen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.customfont {
  font-family: clangen;
  color: white;
}

h1 {
    font-size: 100px;
}
.backbut {
  position: relative;
  text-align: center;
}
#stablebut {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#devbut {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#idbut {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#discord {
  float: left;
  position: absolute; 
  top: 0%;
}